<header id="main-header" class="cf" data-turbolinks-permanent>
  <%= link_to "Reddit Reader", feed_index_path, id: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "My Liked Articles", liked_feed_index_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
    </ul>
  </nav>
</header>